
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
:root {
  font-family: "Poiret One", cursive;
  scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    margin: auto;
    max-width: 1200px;
  }
  body header {
    margin-top:0rem;
}
body h2 {
    text-align: center;
  }
body .navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-bottom: 0;
  }
  body nav .underlogo {
    font-weight: bolder;
    margin-left: 50px;
  }
  body .logo-name {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0%;
  }
  body .navbar li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    margin-right:30px;
  }
  body .navbar li a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  body .full-form #form-button{
    margin:0 auto;
   display:block;
  }
  body .form-container{
    text-align: center;
  } 
  body section button {
    margin-top: 20px;
    padding: 6px 9px 5px !important;
    font-size: 16px !important;
    background-color: black;
    font-weight: bold;
    color: #ffffff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    margin:0 auto;
    margin-left: 114px;
  }
 
  body section button:hover {
    border: 2px solid black;
    color: black;
    background-color: linen;
  }
  body section button:focus {
    outline: white;
  }
  body section .container{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  @media(max-width:1150px){
    body section button{
      margin:0 auto;
      display:block;
      margin-bottom:30px;
    }
  }
  body footer ul li,
.facelogo {
  width: 30px;
  font-weight: bolder;
}
body footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin-right: 100px;
}